<footer>
    <div class="container">
        <div class="row">
            <div class="col-3 footer-onderdeel">
                <p>LiSA</p>
                <p>www.google.be</p>
            </div>
            <div class="col-3 footer-onderdeel">
                <p class="footer-titel">Sitemap</p>
                <p>Logo</p>
                <p>Kleur</p>
                <p>Typografie</p>
                <p>Offline</p>
                <p>Online</p>
            </div>
            <div class="col-3 footer-onderdeel">
                <p class="footer-titel">Contact</p>
                <p>Telefoonnummer</p>
                <p>E-mail</p>
                <p>Adres</p>
            </div>
            <div class="col-3 footer-onderdeel">
                <p class="footer-titel">Huisstijlgids</p>
                <p>Dit is de officële huisstijlgids van LiSA, gemaakt als onderdeel van een bachelorproef.</p>
                <p>Download pdf</p>
             </div>
            </div>
        <hr>
        <div class="row text-center">
            <div class="col-12">
                <p>Copyright © 2018 LiSA. All rights reserved.<br>
                In samenwerking met Sarah Van Den Berghe en Arteveldehogeschool</p>
            </div>
        </div>
    </div>
</footer>