
.client-style {
  font-family: $clientfont-family-base;
  color: $oranje;
  margin: 1em 0 2em;

  h1, h2, h3, h4, h5, h6 {
    font-family: $clientfont-family-title;
  }

  a {
    color: $blauw;
    &:hover {}
    &:active {}
    &:focus{}
  }

  // …
  
}