/* Navigation
---------------------------------------------
*/
.navbar a {
    border: none;
    color: $wit;
    font-weight: 300;
    &:hover {
      color: #000;
}
    &:focus {
      background-color: transparent;
      color: $blauw;
    }
}

.navbar-brand {
  padding-right: 50px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding: 0.5rem 1.3rem;
}

.bg-light {
  box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.2)
}

.active > a {
  font-weight: 700;
  border-bottom: 3px solid $wit;
}

.navbar {
  background-color: transparent;
  transition: all 0.3s;
}

#download-pdf {
  background-color: #FFF;
  color: $oranje;
  padding: 6px 25px;
  border-radius: 20px;
  box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.2);
  font-size: $font-size-base;
}


/* FOOTER
----------------------------------------------
*/

html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}


footer {
    background-color: $oranje;
    color: $wit;
    padding: 70px;
    a {
        color: $zwart;
        &:hover {
            
        }
    }
}

.footer-titel {
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
  border-bottom: 1px dotted $wit;
  display: table-cell;
}

.footer-titel:after {
  content: "";
  display: table-cell;
  width: 100%;
}

.footer-onderdeel p {
  margin-top: 5px;
  margin-bottom: 0;
}

/* HEADER */
.inleiding {
  text-align: center;
  color: $wit;
  font-size: 16px;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  padding: 95px 2rem;
}

/* HOME
----------------------------------------------
*/
#home-bg {
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgba(255,180,0,1), rgba(255,92,0,1));
    height: 100vh;
}

#kleur-bg {
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url($baseurl + "/assets/images/patroon-header.png"); */
    background-image: url("images/patroon-header2.png");
    height: 70vh;
    background-attachment: fixed;
}





/* KLEUR ------------------------------------------------------------------------ */
/* Stalen benoemen ------ */
#kleur-blauw {
  background-color: $blauw;
}

#kleur-oranje {
  background-color: $oranje;
}

#kleur-licht-oranje {
  background-color: $licht-oranje;
}

#kleur-donker-oranje {
  background-color: $donker-oranje;
}

#kleur-licht-blauw {
  background-color: $licht-blauw;
}

#kleur-donker-blauw {
  background-color: $donker-blauw;
}

#kleur-zwart {
  background-color: $zwart;
}

#kleur-wit {
  background-color: $wit;
}

#kleur-oranjeverloop {
  background: linear-gradient(rgba(255,180,0,1), rgba(255,92,0,1));
  width: 200px;
  margin-right: 1.25rem;
}

#kleur-blauwverloop {
  background: linear-gradient(rgba(172,221,255,1), rgba(0,153,255,1));
  width: 200px;
  margin-right: 1.25rem;
}



/* Card ------ */
.card {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 0;
}

.card-header {
  min-height: 120px;
  color: $wit;
  border-bottom: 0;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
}

.card-margin-top {
  padding-top: 0;
}

.card-header:first-child {
  border-radius: 0;
}

.card-text {
  color: $donker-grijs;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-bottom: 0;
}

.card-margin {
  margin-top: 35px;
}

.card-subtitle {
  font-weight: 200;
}

.card-link {
  margin-left: 35px;
}





span.font-weight-bold {
  padding-right: 5px; 
} // anders doen!

#kleurenpalet-kader {
  padding: 0 20px 20px;
}

.oplijsting-kleurenpalet li {
  margin-left: 15px;
}



/* ALGEMEEN */
.grijs-sectie {
  background-color: $licht-grijs;
}

.wit-sectie {
  background-color: $wit;
}


.dos-donts {
  background-color: $achtergrond-grijs;
  margin-bottom: 0;
}

.tekst-rechterkant {
  padding-left: 50px;
}

.tekst-linkerkant {
  padding-right: 50px;
}