/* NAVIGATION
---------------------------------------------
*/

.navbar a {
    border: none;
    color: $wit;
    font-weight: 300;
    transition: 0.3s;
    &:hover {
      font-weight: 600;
}
    &:focus {
      background-color: transparent;
      color: $donker-oranje;
    }
    &:after {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
}

.navbar-brand {
  padding-right: 50px;
  padding-left: 40px;
}

.navbar-brand img {
  width: 70px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding: 0.5rem 1.2rem;
}

.bg-light {
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1)
}

.active > a {
  font-weight: 700;
  border-bottom: 3px solid $wit;
}

.navbar {
  background-color: transparent;
  transition: all 0.3s;
}

#download-pdf {
  background-color: $blauw;
  color: $wit;
  padding: 6px 25px;
  border-radius: 20px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
  font-size: $font-size-base;
  &:hover {
    font-weight: 300;
    background-color: $donker-oranje;
    color: $wit;
  }
}





/* FOOTER
----------------------------------------------
*/

html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

footer {
    background-color: $oranje;
    color: $wit;
    padding: 70px;
    a.footer-link {
        color: $wit;
        border-bottom: 0;
        &:hover {
            border-bottom: 1px dotted $wit;
            color: $wit;
        }
    }
}

.footer-titel {
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
  border-bottom: 1px dotted $wit;
  display: table-cell;
}

.footer-titel:after {
  content: "";
  display: table-cell;
  width: 100%;
}

.footer-onderdeel p {
  margin-top: 5px;
  margin-bottom: 0;
}

.icon-footer {
  margin-left: -25px;
}

#logo-footer-artevelde img {
  padding-top: 10px;
  padding-left: 20px;
  width: 60%;
}

#logo-footer-lisa img {
  width: 90%;
}

#btn-footer {
  background-color: $wit;
  color: $donker-oranje;
  &:hover {
    background-color: $donker-oranje;
    color: $wit;
  }
  &:active {
    background-color: $blauw;
  }
}





/* HEADER
----------------------------------------------
*/

.inleiding {
  text-align: center;
  color: $wit;
  font-size: 16px;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  padding: 95px 2rem;
}

.header {
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  background-attachment: fixed;
}
#home-bg {
    background-image: url("../images/header-index.jpg");
    height: 100vh;
}

#kleur-bg {
    background-image: url("../images/header-kleuren.png");
}

#logo-bg {
    background-image: url("../images/header-logo.png");
}





/* PAGES --------------------------------------------------------------- */

/* HOME
----------------------------------------------
*/

#creative-cloud-tekst {
  border-right: 1px solid #333;
  padding-right: 80px;
}

#ms-office-tekst {
  padding-left: 80px;
}

.btn-tooltip {
  font-size: 14px;
  padding: 0;
  line-height: 1rem;
  border-bottom: dotted 1px $zwart;
}





/* LOGO
----------------------------------------------
*/

img#img-woordmerk {
  width: 50%;
  padding-right: 55px;
}

img#img-beeldmerk {
  width: 40%;
  padding-left: 70px;
}

#do-kolom {
  padding-right: 40px;
}

#donts-kolom, #donts-titel-logo {
  padding-left: 40px;
}

.voorbeeld-logo-download img {
  padding-right: 10px;
}

hr.hr-kader {
  margin: 30px 0 30px;
}

hr#hr-logo {
  margin: 80px 0;
}

.card-footer {
  background-color: transparent;
  border-top: 0;
}

#kleur-kader + .card-body {
  padding-bottom: 0;
}

.th-logo, .td-logo {
  font-size: 14px;
  text-transform: initial
}

th.th-logo {
  padding-right: 15px;
}

#logo-downloaden-uitleg {
  padding-bottom: 30px;
}





/* KLEUR
----------------------------------------------
*/

/* Stalen benoemen ------ */
#kleur-blauw {
  background-color: $blauw;
}

#kleur-oranje {
  background-color: $oranje;
}

#kleur-licht-oranje {
  background-color: $licht-oranje;
}

#kleur-donker-oranje {
  background-color: $donker-oranje;
}

#kleur-licht-blauw {
  background-color: $licht-blauw;
}

#kleur-donker-blauw {
  background-color: $donker-blauw;
}

#kleur-zwart {
  background-color: $zwart;
}

#kleur-wit {
  background-color: $wit;
}

#kleur-oranjeverloop {
  background: linear-gradient(rgba(255,180,0,1), rgba(255,92,0,1));
  width: 200px;
  margin-right: 1.25rem;
}

#kleur-blauwverloop {
  background: linear-gradient(rgba(172,221,255,1), rgba(0,153,255,1));
  width: 200px;
  margin-right: 1.25rem;
}

/* Card ------ */
.card {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 0;
}

.card-header {
  min-height: 120px;
  color: $wit;
  border-bottom: 0;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
}

.card-margin-top {
  padding-top: 0;
}

.card-header:first-child {
  border-radius: 0;
}

.card-text {
  color: $donker-grijs;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-bottom: 0;
}

.card-margin {
  margin-top: 30px;
}

.card-subtitle {
  font-weight: 200;
}

.card-link {
  margin-left: 35px;
}

span.kleurcode {
  padding-right: 5px; 
}

#kleurenpalet-kader, #basismateriaal-kader, #monotoon-kader, #kleur-kader {
  padding: 0 20px 20px;
}

.oplijsting li {
  margin-left: 15px;
}





/* ALGEMEEN
----------------------------------------------
*/
.grijs-sectie {
  background-color: $licht-grijs;
}

.wit-sectie {
  background-color: $wit;
}

.dos-donts {
  background-color: $achtergrond-grijs;
  margin-bottom: 0;
}

.tekst-rechterkant {
  padding-left: 50px;
}

.tekst-linkerkant {
  padding-right: 50px;
}

.card-img-top {
  border-radius: 0;
}

.lijn-linkerkant {
  border-right: 1px solid #E3E3E3;
  padding-right: 80px;
}

.lijn-rechterkant {
  padding-left: 80px;
}

.fa-download {
  font-size: 12px;
  margin-left: 5px;
}

.fa-times, .fa-check {
  margin-right: 10px;
}

.fa-exclamation-triangle {
  color: $donker-oranje;
  margin-left: -25px;
}

.let-op {
  margin-left: 11px;
}