// default-styling

body {
    font-family: $font-family-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: $lineheight-base;
    background-color: $wit;
    color: $body-color;
    padding-bottom: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-title;
    font-weight: $font-weight-bold;
}

h1 {
    font-weight: $font-weight-light;
    font-size: 4rem;
    color: $wit;
    text-align: center;
    padding: 100px 0 20px;
    font-weight: $font-weight-bold;
}
h2 {
    font-weight: $font-weight-light;
    font-size: 2rem;
    margin: 2rem 0 1rem;
}
h3, h4, h5, h6 {
    font-size: 1rem;
    margin: 2rem 0 0;
}
a {
    text-decoration: none;
    color: $blauw;
    border-bottom: dotted 1px $blauw;
    &:hover{
        color: $oranje;
        text-decoration: none;
        border-bottom: solid 1px $oranje;
    }
    &:active{
        background-color: transparent;
        color: $zwart;
    }
    &:focus{}
}
blockquote {
    padding-left: 24px;
    border-left: 2px solid $oranje;
}

// ongeordende lijstjes met een ander symbool of kleur
main ul {
  list-style: none;  
  margin: 0 0 1em;
  padding: 0;
  li {
    padding-left: 25px;
    text-indent: -25px;
    &:before {
        content:'\2022';
        color: $oranje;
        margin-right: 18px;
    }    
  }
}

//geordende lijstjes met een ander symbool of kleur
main ol {
    list-style: none;  
    margin: 0 0 1em;
    padding: 0;
    counter-reset: i 0;
    li {
         margin-bottom: 0.5rem;
         margin-left: 50px;
         list-style-position: inside;
         text-indent: -26px; // afhankelijk van margin-right
      
      &:before {
        counter-increment: i;
        content: counter(i);    
        margin-right: 18px; // afstand cijfer en tekst
        color: $oranje;
        font-family: $font-family-title;
        font-weight: $font-weight-semibold;
      }    
    }
  }



//forms 
button, a.btn {
    
    &:hover{}
    &:active{}
    &:focus{}
}
input[type=text], textarea {

}

// width container
@media (min-width: 1200px) {
    .container {
      width: 1030px;
    }
  }

// table

.table thead th {
  border-bottom: 0;
}

.table td, .table th:not(.table-title) {
    border-top: 1px dotted $wit;
}

.table-title, .geen-border {
    border-top: 0 !important;
}

.table td, .table th {
    padding: 0.75rem 0;
}

.table-links {
    padding-right: 30px;
}

.table-rechts {
    padding-left: 30px;
}

th {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    color: $oranje;
}

// hr

hr{
    border-top: 1px solid rgba(255,255,255,.5);
    margin: 50px 0;
}
