

// Color system
// ------------------------

// Greys
$color-white: rgba(255,250,250,1);
$color-grey-1:rgba(240,240,240,1);
$color-grey-2:rgba(180,180,180,1);
$color-grey-3:rgba(90,90,90,1);
$color-grey-4:rgba(30,30,30,1);
$color-grey-5:rgba(10,10,10,1);
$color-black:rgba(0,0,0,1);

// Website
$mycolor-1:rgba(162,139,119,1);
$mycolor-2:rgba(80,69,57,1);
$mycolor-3:rgba(193,173,121,1);
$mycolor-4:rgba(147,131,86,1);
$mycolor-5:rgba(155,59,29,1);

$body-bg: $color-white;
$body-color: $color-grey-4;
$body-link: $mycolor-5;

//Primair
$oranje: rgba(255,153,0,1);
$blauw: rgba(0,153,255,1);

//Secundair
$donker-oranje: rgba(240,102,28,1);

//Basis
$wit: rgba(255,255,255,1);
$zwart: rgba(0,0,0,1);
$donker-grijs: rgba(120, 120, 120, 1);
$licht-grijs: rgba(245, 245, 245, 1);
$achtergrond-grijs: rgba(50,50,50,1);

// TYP0GRAPHY
// -----------------------------

// Imports
// Website
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

// Client specific
@import url('https://fonts.googleapis.com/css?family=Nunito:400,800|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

// type
$font-family-base: 'Raleway', serif;
$font-family-title: $font-family-base;

// sizes
$font-size-base: 14px;
$lineheight-base: 1.6em;
$font-weight-light: 200;
$font-weight-base: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;